html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ECECEC;
}

/* Style page content */
.main {
  margin-left: 160px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.navbar {
  text-align: center;
  z-index: 1;
}

.navbar-nav>a,
form {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.book>img {
  height: 200px;
  width: 125px;
}

/* The sidebar menu */
.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 160px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #343A40;
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 120px;
}

.sidenav ul {
  list-style: none;
  text-align: center;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.title {
  font-size: x-large;
  padding-top: 35px;
}