body {
 background-color: gray;
}

button:hover {
  text-transform: capitalize;
  font-weight: bold;
}
#b1 {
  background-color: rgb(255,3,3) /*red*/;
  font-size: 12px;

}

#b2 {
  background-color: rgb(3,255,255) /*blue*/;
  font-size: 30px;

}

#b3 {
  background-color: rgb(129,255,3) /*green*/;
  font-size: 20px;

}
